Repository UniversityOfSaskatchewanCMPT371/term-project-fall2019-team-2, pull requests merged in 2019-10, with the labels that each got.

#49 Updated as per feedback from Braunson and Evan
  documents/reviews/CodeReview.tex
Labels: documentation

#50 Updated document document review template
  documents/reviews/DocReview.tex
Labels: documentation

#44 Docker Support
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  documents/builds/README.md
  documents/builds/dev-stack.yml
  documents/builds/nginx-stack.yml
  documents/builds/portainer-stack.yml
  documents/builds/test-stack.yml
Labels: build, documentation, enhancement

#53 Formal review of design document
  documents/reviews/DesignDocumentReview.pdf
  documents/reviews/DesignDocumentReview.tex
Labels: documentation

#57 Added Test Matrix and Test Design Documents
  documents/ID2/TestDesignDoc.pdf
  documents/ID2/TestMatrix.pdf
Labels: documentation

#56 Design Documents
  documents/ID2/Design Documents(1).pdf
Labels: documentation

#55 Adding ID2 MiniMilestones
  documents/ID2/ID3 Mini-Milestones.pdf
Labels: documentation

#59 Added the changed file
  documents/ID2/Top 10 Risks followed by mitigation plan for ID2.pdf
Labels: documentation

#58 Structured Readme for ID2
  README.md
  documents/ID2/ID2Readme.md
Labels: documentation

#63 Evv446 testing
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/__tests__/Column.test.tsx
  src/__tests__/Data.test.tsx
  src/__tests__/Filter.test.tsx
  src/__tests__/ParserComponent.test.tsx
  src/__tests__/TimelineComponent.test.tsx
  src/components/ParserComponent.tsx
  src/index.tsx
  src/setupTests.ts
Labels: enhancement

#64 Policy docs update for ID3
  documents/policy/images/build-pipeline.png
  documents/policy/policy.pdf
  documents/policy/policy.tex
  documents/policy/teampolicy.pdf
Labels: documentation
