Repository UniversityOfSaskatchewanCMPT371/term-project-fall2019-team-2, pull requests merged in 2019-11, with the labels that each got.

#81 Mini Milestones for next ID
  documents/ID3/ID3 Mini Milestones.pdf
Labels: documentation

#82 Revised Design Documents from ID3
  documents/ID3/ID3 Design Revisions.pdf
Labels: documentation

#84 ID3 Requirements Revisions
  documents/ID3/ID3 Requirements Revisions.pdf
Labels: documentation

#83 Updated Risk Document
  documents/ID3/Risk Analysis.pdf
Labels: documentation

#85 Add files via upload
  documents/ID3/Code review.pdf
Labels: documentation

#99 Evv446 r1 tests
  package-lock.json
  package.json
  src/__tests__/ParserComponent.test.tsx
  src/__tests__/__snapshots__/ParserComponent.test.tsx.snap
Labels: help wanted

#110 ID4 Readme
  README.md
  documents/ID4/README.md
Labels: documentation

#109 Electron Builds
  .github/workflows/electron.yml
  .gitignore
  README.md
  mesa-sonar-project.properties
  package-lock.json
  package.json
  public/10000_Sales_Records.csv
  public/electron.js
  public/preload.js
Labels: build

#111 Pre and Post Condition Documentation Added
  src/components/Column.ts
  src/components/Filter.ts
  src/components/ParserComponent.tsx
  src/components/Predicate.ts
Labels: documentation

#113 Panning with Arrow Keys
  src/__tests__/ParserComponent.test.tsx
  src/__tests__/TimelineComponent.test.tsx
  src/__tests__/__snapshots__/ParserComponent.test.tsx.snap
  src/components/TimelineComponent.tsx
Labels: enhancement

#123 added the ID4 risk document review
  documents/reviews/riskDocReviewID4.pdf
Labels: documentation

#127 ID4 Mini Milestones Upload
  documents/ID4/ID4 Mini Milestones.pdf
Labels: documentation

#125 added the stakeholder meeting
  documents/meetings/2019_11_17_StakeholderID4 (1).pdf
Labels: documentation

#122 Source tex file for the code review for Elieen
  documents/ID4/CodeReviewForEileen.tex
Labels: documentation

#124 Add files via upload
  documents/ID4/ID4RiskAnalysis.pdf
Labels: documentation

#129 Readme for ID4
  documents/ID4/README.md
Labels: documentation

#141 Error Reporting, Telemetry and User Feedback
  .env.template
  .github/workflows/docker.yml
  .github/workflows/react.yml
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  src/App.tsx
  src/components/ErrorBoundaryInterface.ts
  src/components/ErrowBoundary.tsx
  src/components/TelemetryModal.tsx
  src/index.tsx
Labels: build, enhancement

#143 ID5 Documentation
  README.md
  documents/ID5/README.md
Labels: documentation
